<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/admin"
        android:label="Admin"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Admin"
        tools:targetApi="31">


        <activity
            android:name=".ui.activities.OrderDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.AddItem2Activity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.AddItem3Activity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.DiscountActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.Inventory"
            android:exported="true" />
        <activity
            android:name=".ui.activities.AddItemActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.AllItemsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.PasswordActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"/>
        <activity
            android:name=".ui.activities.SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>