<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/admin"
        android:label="Admin"
        android:supportsRtl="true"
        android:name=".ui.activities.MyApplication"
        android:theme="@style/Theme.Admin"
        tools:targetApi="34">
        <activity
            android:name=".ui.activities.MainAddNewShopActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ShopDetailsGeneral"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ProfileDetailsOwner"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ViewShopActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.CustomerAccounts"
            android:exported="false" />
        <activity
            android:name=".ui.activities.CustomerAccountDetails"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ShopSearchActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.AddNewShop"
            android:exported="true" />
        <activity
            android:name=".ui.activities.SubAdminDiscountProductEditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SubAdminProductEditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.GeneralDiscount"
            android:exported="false" />
        <activity
            android:name=".ui.activities.DiscountProductEditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SubAdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SubAdminInventory"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SubAdminOrderdetails"
            android:exported="true" />
        <activity
            android:name=".ui.activities.AddCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.GeneralAddCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SubAdminsPassword"
            android:exported="true" />
        <activity
            android:name=".ui.activities.DeleteConfirmationActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.GeneralAdmin"
            android:exported="true" />
        <activity
            android:name=".ui.activities.ShopSettings"
            android:exported="true" />
        <activity
            android:name=".ui.activities.OrderDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.DiscountActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.Inventory"
            android:exported="true" />
        <activity
            android:name=".ui.activities.GeneralAddItemActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.AddItemActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.ProductEditActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.AllItemsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.SubAdminAllItemsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.AddBannerActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.PasswordActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>